
.wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }

  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 100px;
    margin-bottom:15px
  }
  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
  }
  .card {
    display: block;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      transition: box-shadow .25s;
  }
  .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    transition: all .25s ease;
  }
  .card-content {
    padding:15px;
    text-align:left;
  }
  .card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
  }
  .card-title a {
    color: #000;
    text-decoration: none !important;
  }
  .card-read-more {
    border-top: 1px solid #D4D4D4;
  }
  .card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
  }

/* trang viet blog */
.blog{
    background: -webkit-linear-gradient(left, #ddf129, #00c6ff);
}
  .blog-left{
      text-align: center;
      color: #fff;
      margin-top: 4%;
  }
  .blog-left input{
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      width: 60%;
      background: #f8f9fa;
      font-weight: bold;
      color: #171817;
      margin-top: 30%;
      margin-bottom: 3%;
      cursor: pointer;
  }
  .blog-right{
      background: #f8f9fa;
      border-top-left-radius: 10% 50%;
      border-bottom-left-radius: 10% 50%;
  }
  .blog-left img{
      margin-top: 15%;
      margin-bottom: 5%;
      width: 25%;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-20px); }
  }
  @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-20px); }
  }
  .blog-left p{
      font-weight: lighter;
      padding: 12%;
      margin-top: -9%;
  }
  .blog .blog-form{
      padding: 10%;
      margin-top: 10%;
  }
  .btnblog{
      float: right;
      margin-top: 10%;
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      background: #6aaf10;
      color: #fff;
      font-weight: 600;
      width: 50%;
      cursor: pointer;
  }
  .blog .nav-tabs{
      margin-top: 3%;
      border: none;
      background: #d45e30;
      border-radius: 1.5rem;
      width: 28%;
      float: right;
  }
  .blog .nav-tabs .nav-link{
      padding: 2%;
      height: 34px;
      font-weight: 600;
      color: #fff;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
  }
  .blog .nav-tabs .nav-link:hover{
      border: none;
  }
  .blog .nav-tabs .nav-link.active{
      width: 100px;
      color: #39a5c0;
      border: 2px solid #d82f62;
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
  }
  .blog-heading{
      text-align: center;
      margin-top: 8%;
      margin-bottom: -15%;
      color: #495057;
  }
/* trang blog */
  .blog1{
    padding: 70px 30px;
    background-color: rgb(36, 207, 212);
    border-radius: 50%;
    border: 3px double black;
    animation: colorBackground 0.5s infinite;
    -webkit-animation: colorBackground 2s infinite;
    -moz-animation: colorBackground 2s infinite;
    -o-animation: colorBackground 0.5s infinite
    }
    @keyframes colorBackground {
    0% {
    background-color: yellowgreen;
    color: white;
    }
    50% {
    background-color: red;
    color: yellow;
    }
    }

    /* blog */
.blog2{
    padding:7px 3px;
}
.blog2 p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 12px;
}
 .blog2:hover{
    box-shadow: 0 5px 5px 1px grey;
}

.blog2 p:hover{
    color: rgb(202, 20, 20);
}
/* scroll */
#blog3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#blog3::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#blog3::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
    transparent,
    rgba(44, 141, 231, 0.4) 50%,
    transparent,
    transparent);
}

.blog3{
	float: left;
	height: 580px;
	width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
/* quan li tai khoan, doi mat khau */
.blog4{
    padding: 30px 20px;
    background: rgb(229, 241, 241);
    margin-top: -100px;
}
