*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* menu bar */
.nav-link{
    font-size: 16px;
    color: rgb(248, 252, 247) !important;
    margin: 2px;

}
.collapse ul li{
    margin: 0 10px;
    padding: 5px 10px;
}
.navbar-nav{
    text-align: left;
}
.menu-bar .navbar-toggle{
    padding: 0;
    outline: none;
    border: none;
    height: 20px;
}
.nav-item a{
    background-image: linear-gradient(rgb(9, 10, 9), rgb(179, 190, 124));
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
    display: block;
}

.nav-item a:hover{
    background-size: 100% 2px, auto;
}

#navbar{
    background-color: rgb(6, 85, 85);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1;
} 
/* hết ===================================================== */
/* Tìm việc làm */
.dropbtn {
    background-color: transparent;
    color: rgb(247, 250, 252);
    padding-top: 10px;
    padding-bottom: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; /*Thuộc tính con trỏ chỉ vào */
    padding-left: 0px;
  }
  /* Dùng trong <div> để định vị nội dung thả xuống */
  .dropdown {
    position: relative; /* định vị tương đối*/
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute; /* định vị cố định*/
    background-color: #f4f4d8;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #e49734;
    color: white;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } 
/* hết ========================================================== */
/* Cập nhật */
#jobs{
    background-color: #ffff;
    padding: 50px 0;
}
.jobs-update{
    float: left;
}
a, a:visited, a:active{
    text-decoration:none;
    color: black;
}
.button{
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: rgb(7, 3, 3);
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0px 8px;
    line-height: 36px;
    border-radius: 4px;
    transition: all 0.218s ease 0s;
    border: 1px solid #DCDCDC;
    background-color: #699ad3;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    cursor: pointer;
}
.button:hover{
     border: 1px solid #110e0e;
    text-decoration: none;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.submit-button{
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 150px;
}
.jobs-update{
    text-align: left;
    float: left;
  
}
    /* Mục lục */
    .mucluc ul li a{
        color: black;
    }
    .mucluc ul li {
        text-decoration: none;
        padding: 7px 20px;
    }
    .mucluc ul{
        list-style: none;
    }
    .mucluc{
        border: 1px dashed black;
        background-color: rgb(221, 247, 108);
    }
    /* hết ============================================== */
    /* footer */
    ul li a{
        text-decoration: none;
        color: floralwhite;
    }
    .float-left a{
        text-decoration: none;
        color: turquoise;
    }
    .text-right a{
        text-decoration: none;
        color:gold;
    }
    /* hết ================================================== */
    @media(min-width:1200px){
        .font{
            font-size: 24px;
        }
        .binhluan{
            font-size: 23px;
            margin-top: 25px;
        }
        .img{
            height: 300px;
        }
        .img_jobs{
            height: 200px;
            width: 300px;
        }
  
    }
    @media(min-width:740px) and (max-width:1199px){

        .font{
            font-size: 20px;
        }
        .binhluan{
            font-size: 17px;
            margin-top: 23px;
        }
        .img{
            height: 200px;
        }
        .trangchu{
          display: none;
        }
        .img_jobs{
            height: 150px;
            width: 200px;
        }
    }
    @media(max-width:740px){

        .font{
            font-size: 19px;
        }
        .binhluan{
            font-size: 12px;
            text-align: center;
        }
        .jobs-update{
            font-size: 20px;
        }
        .img{
            height: 100px;
            width: auto;
            margin: 0 auto;
            display: block;
        }
        .trangchu{
          display: none;
        }
        .img_jobs{
            height: 80%;
            width: 100%;
        }
    }